<% progress.each do |pro| %>

  <div class=" col-10 offset-1 card mt-3">
      <p class="mt-3">作業者ID : <%= pro[0] %></p>
      <div class="progress mb-3" style="height: 40px;">
        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:<%= pro[1]%>%;"><%= pro[1]%>%</div>
      </div>
  </div>

<% end %>
