<!-- タブ・メニュー -->
<div class="mt-3">
  <ul class="nav nav-tabs">
<!--     <li class="nav-item">
      <a class="nav-link active" href="#sampleContentA" data-toggle="tab">前処理</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link active" href="#sampleContentB" data-toggle="tab">割り当て</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#sampleContentC" data-toggle="tab">作業進捗</a>
    </li>
  </ul>
</div>

<!-- タブ内容 -->

<div class="tab-content">
   <!-- <div class="tab-pane" id="sampleContentA"> -->
      <%#= render partial: "preprocess" %>
   <!-- </div> -->
   <div class="tab-pane active" id="sampleContentB">
      <%= render partial: "allocation",locals: { users: @users , contents: @contents}%>
   </div>
   <div class="tab-pane" id="sampleContentC">
      <%= render partial: "progress", locals: {progress: @progress} %>
      <%#= render partial: "progress",locals: { users: @users , contents: @contents}%>
   </div>
</div>

<!-- <ul class="nav nav-tabs mt-3">
  <li class="nav-item"> -->
    <%#= link_to "前処理", admins_preprocess_path, class: "nav-link active", id: "preprocess-tab", remote: true %>
<!--   </li>
  <li class="nav-item"> -->
    <%#= link_to "割り当て", admins_allocation_path, class: "nav-link", id: "allcation-tab", remote: true %>
<!--   </li>
  <li class="nav-item"> -->
    <%#= link_to "進捗", admins_progress_path, class: "nav-link", id: "progress-tab", remote: true %>
<!--   </li>
</ul> -->

<!-- mypagesの部分テンプレート -->
<!-- <div id="preprocess"></div>

<div id="allocation"></div>

<div id="progress"></div> -->



