<!-- タブ・メニュー -->
<!-- <ul class="nav nav-tabs">
  <li><a href="#sampleContentA" data-toggle="tab">前処理</a></li>
  <li class="active"><a href="#sampleContentB" data-toggle="tab">割り当て</a></li>
  <li><a href="#sampleContentC" data-toggle="tab">作業進捗</a></li>
</ul> -->

<!-- タブ内容 -->
<!-- <div class="tab-content">
  <div class="tab-pane" id="sampleContentA">
    <p>ここで画像の前処理を実行</p>
  </div>
  <div class="tab-pane active" id="sampleContentB">
    <p>ここで作業者に画像を割り当てる</p>
  </div>
  <div class="tab-pane" id="sampleContentC">
    <p>ここで各作業者の進捗を確認する</p>
  </div>
</div> -->

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active">タブ1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">タブ2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">タブ3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">タブ4</a>
  </li>
</ul>
